---
import { serialWorks } from "../../data/works";
import Card from "../card.astro";
---

<h2
  class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
>
  Professional Work
</h2>
<div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
  {
    serialWorks.map((work) => (
      <div>
        <Card
          href={work.page ? `/projects/${work.id}` : undefined}
          title={work.name}
          body={work.description}
          tags={work.tags}
          github={work.github}
          live={work.demo}
          image={work.image}
        />
      </div>
    ))
  }
</div>
